<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <!--<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>-->
                <div class="register-form">
                  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-login" data-mdb-toggle="pill" routerLink="/app-login" role="tab"
                         aria-controls="pills-login" aria-selected="false">Sign in</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" routerLink="/app-register" role="tab"
                         aria-controls="pills-register" aria-selected="true">Sign up</a>
                    </li>
                  </ul>
                  <form *ngIf="!isSuccessful" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <div class="alert alert-warning" *ngIf="isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                      </div>
                      <label>Firstname</label>
                      <input type="text"
                             formControlName="firstname"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" />
                      <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstname'].errors['required']">Firstname is required</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>LastName</label>
                      <input type="text"
                             formControlName="lastname"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" />
                      <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastname'].errors['required']">Lastname is required</div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label>Username</label>
                      <input type="text"
                             formControlName="username"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                        <div *ngIf="f['username'].errors['minlength']">
                          Username must be at least 6 characters
                        </div>
                        <div *ngIf="f['username'].errors['maxlength']">
                          Username must not exceed 12 characters
                        </div>
                        <div *ngIf="f['username'].errors['pattern']">
                          Invalid Pattern, You must use a-z,A-Z,0-9,_
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password"
                             formControlName="password"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors['minlength']">
                          Password must be at least 6 characters
                        </div>
                        <div *ngIf="f['password'].errors['pattern']">
                          Password must not exceed sequential such as abc or 123
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password"
                             formControlName="confirmPassword"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                      <div *ngIf="submitted && f['confirmPassword'].errors"
                           class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">
                          Confirm Password is required
                        </div>
                        <div *ngIf="f['confirmPassword'].errors['matching']">
                          Confirm Password does not match
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox"
                             formControlName="acceptTerms"
                             class="form-check-input"
                             [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
                      <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
                      <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
                        Accept Terms is required
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Register</button>
                      <button type="button"
                              (click)="onReset()"
                              class="btn btn-warning float-right">
                        Reset
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
